.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #000000;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.header {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1280px;
  object-fit: cover;
  position: relative;
  color: #ffffff;
  padding: 16px;
}
.link__y5O6D {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__uV4YK {
  object-fit: cover;
  height: 40px;
}
.img__uV4YK > picture > img {
  object-fit: cover;
}
.img__uV4YK > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__rNmX1 {
  object-fit: cover;
}
.img__rNmX1 > picture > img {
  object-fit: cover;
}
.img__rNmX1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__na5Y2 {
  object-fit: cover;
}
.img__na5Y2 > picture > img {
  object-fit: cover;
}
.img__na5Y2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__avXdr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  padding-right: 0px;
  display: block;
}
.link__hren8 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  display: block;
}
.link__raNxd {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  padding-right: 0px;
  display: block;
}
.link__oQwgV {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  display: block;
}
.link__kApFm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  display: block;
}
.link__h1LdB {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  display: block;
}
.link__eUu0F {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  display: block;
}
.link__eku3S {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  display: block;
}
.link___7Fv0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  display: block;
}
.button___4X889:global(.__wab_instance) {
  max-width: 100%;
}
.svg__p3XCe {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__sfHcs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.hero {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("/plasmic/dex_joss/images/bgJossdexpng.png") top 50% left 50% / cover repeat;
  min-width: 0;
  flex-shrink: 0;
  padding: 96px 0px;
}
.hero > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.hero > :global(.__wab_flex-container) > *,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.hero > :global(.__wab_flex-container) > picture > img,
.hero > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 24px;
}
.freeBox__b3Kn4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
}
.h2__vmFvx {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
.h5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: left;
  font-weight: 500;
  padding-bottom: 24px;
  min-width: 0;
}
.link__htPcl {
  position: relative;
  display: flex;
}
.button__u42S8:global(.__wab_instance) {
  max-width: 100%;
}
.svg__npdkE {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__eyeXu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.feature {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  padding-bottom: 120px;
  padding-top: 120px;
  background: #04070e;
  min-width: 0;
}
.h2__dvQtt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  margin-bottom: 64px;
  min-width: 0;
}
.freeBox__ccKuq {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 16px;
}
.freeBox__ccKuq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__ccKuq > :global(.__wab_flex-container) > *,
.freeBox__ccKuq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ccKuq > :global(.__wab_flex-container) > picture > img,
.freeBox__ccKuq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox___38QAb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.columns__n1V7P {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__n1V7P > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.columns__n1V7P > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns__n1V7P > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns__n1V7P > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns__n1V7P > :global(.__wab_flex-container) > *,
.columns__n1V7P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__n1V7P > :global(.__wab_flex-container) > picture > img,
.columns__n1V7P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__n1V7P {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__n1V7P > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__n1V7P > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 24px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__n1V7P > :global(.__wab_flex-container) > *,
  .columns__n1V7P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__n1V7P > :global(.__wab_flex-container) > picture > img,
  .columns__n1V7P
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 24px;
  }
}
.column___7LdXv {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #05141c;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
}
.column___7LdXv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column___7LdXv > :global(.__wab_flex-container) > *,
.column___7LdXv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___7LdXv > :global(.__wab_flex-container) > picture > img,
.column___7LdXv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__hERvN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 200px;
}
.img__hERvN > picture > img {
  object-fit: cover;
}
.img__hERvN > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h4___9Lg6L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  min-width: 0;
}
.text__zmJ2F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #fffcfc;
  text-align: center;
  min-width: 0;
}
.column__i8WHs {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #05141c;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
}
.column__i8WHs > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__i8WHs > :global(.__wab_flex-container) > *,
.column__i8WHs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__i8WHs > :global(.__wab_flex-container) > picture > img,
.column__i8WHs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__g0Kl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 200px;
}
.img__g0Kl > picture > img {
  object-fit: cover;
}
.img__g0Kl > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h4__t1R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  min-width: 0;
}
.text__wUcfk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #fffcfc;
  text-align: center;
  min-width: 0;
}
.column__nerkR {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #05141c;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
}
.column__nerkR > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__nerkR > :global(.__wab_flex-container) > *,
.column__nerkR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__nerkR > :global(.__wab_flex-container) > picture > img,
.column__nerkR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__hRkru {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 200px;
}
.img__hRkru > picture > img {
  object-fit: cover;
}
.img__hRkru > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h4__gWEs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  min-width: 0;
}
.text__vx0Fe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #fffcfc;
  text-align: center;
  min-width: 0;
}
.freeBox__eLisT {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.columns__tthJh {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__tthJh > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.columns__tthJh > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns__tthJh > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns__tthJh > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns__tthJh > :global(.__wab_flex-container) > *,
.columns__tthJh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__tthJh > :global(.__wab_flex-container) > picture > img,
.columns__tthJh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tthJh {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tthJh > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tthJh > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 24px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tthJh > :global(.__wab_flex-container) > *,
  .columns__tthJh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__tthJh > :global(.__wab_flex-container) > picture > img,
  .columns__tthJh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 24px;
  }
}
.column___4F0Pr {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #05141c;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
}
.column___4F0Pr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column___4F0Pr > :global(.__wab_flex-container) > *,
.column___4F0Pr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___4F0Pr > :global(.__wab_flex-container) > picture > img,
.column___4F0Pr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__o9AVd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 200px;
}
.img__o9AVd > picture > img {
  object-fit: cover;
}
.img__o9AVd > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h4__fAjTc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  min-width: 0;
}
.text__jXHec {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #fffcfc;
  text-align: center;
  min-width: 0;
}
.column___2N9Yz {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #05141c;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
}
.column___2N9Yz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column___2N9Yz > :global(.__wab_flex-container) > *,
.column___2N9Yz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___2N9Yz > :global(.__wab_flex-container) > picture > img,
.column___2N9Yz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__lgCy0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 200px;
}
.img__lgCy0 > picture > img {
  object-fit: cover;
}
.img__lgCy0 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h4___3M7Cr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  min-width: 0;
}
.text__l1P2R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #fffcfc;
  text-align: center;
  min-width: 0;
}
.column__sVp3J {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #05141c;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
}
.column__sVp3J > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__sVp3J > :global(.__wab_flex-container) > *,
.column__sVp3J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__sVp3J > :global(.__wab_flex-container) > picture > img,
.column__sVp3J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__go1Yd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 200px;
}
.img__go1Yd > picture > img {
  object-fit: cover;
}
.img__go1Yd > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h4__eOw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  min-width: 0;
}
.text__eeHjJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #fffcfc;
  text-align: center;
  min-width: 0;
}
.freeBox__tFk9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.columns__kzZex {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__kzZex > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.columns__kzZex > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns__kzZex > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns__kzZex > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 24px) * 4 / 12);
}
.columns__kzZex > :global(.__wab_flex-container) > *,
.columns__kzZex > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__kzZex > :global(.__wab_flex-container) > picture > img,
.columns__kzZex
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kzZex {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kzZex > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kzZex > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 24px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kzZex > :global(.__wab_flex-container) > *,
  .columns__kzZex > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__kzZex > :global(.__wab_flex-container) > picture > img,
  .columns__kzZex
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 24px;
  }
}
.column__iHNsU {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #05141c;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
}
.column__iHNsU > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__iHNsU > :global(.__wab_flex-container) > *,
.column__iHNsU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__iHNsU > :global(.__wab_flex-container) > picture > img,
.column__iHNsU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__iHNsU {
    background: #05141c;
  }
}
.img___52ZLo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 200px;
}
.img___52ZLo > picture > img {
  object-fit: cover;
}
.img___52ZLo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h4__iM5Vg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  min-width: 0;
}
.text__n6YrC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #fffcfc;
  text-align: center;
  min-width: 0;
}
.column__dOb0B {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #05141c;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
}
.column__dOb0B > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__dOb0B > :global(.__wab_flex-container) > *,
.column__dOb0B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__dOb0B > :global(.__wab_flex-container) > picture > img,
.column__dOb0B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__qwWeo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 200px;
}
.img__qwWeo > picture > img {
  object-fit: cover;
}
.img__qwWeo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h4___3P1D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  min-width: 0;
}
.text__etoSd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #fffcfc;
  text-align: center;
  min-width: 0;
}
.column__x5Sea {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #05141c;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
}
.column__x5Sea > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__x5Sea > :global(.__wab_flex-container) > *,
.column__x5Sea > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__x5Sea > :global(.__wab_flex-container) > picture > img,
.column__x5Sea
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__aVgo7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 200px;
}
.img__aVgo7 > picture > img {
  object-fit: cover;
}
.img__aVgo7 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.h4__klwCp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: center;
  min-width: 0;
}
.text___4Oaf0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #fffcfc;
  text-align: center;
  min-width: 0;
}
.feature5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #022b39;
  min-width: 0;
  padding: 120px 0px;
}
.h2__wIJtG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  margin-bottom: 64px;
  min-width: 0;
}
.freeBox__umBlP {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 16px;
}
.freeBox__umBlP > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__umBlP > :global(.__wab_flex-container) > *,
.freeBox__umBlP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__umBlP > :global(.__wab_flex-container) > picture > img,
.freeBox__umBlP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.columns___1SKnD {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___1SKnD > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
.columns___1SKnD > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1SKnD {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___1SKnD > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__b566H {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__eqT0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  min-width: 0;
}
.column___2P4F {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column___2P4F > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.column___2P4F > :global(.__wab_flex-container) > *,
.column___2P4F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___2P4F > :global(.__wab_flex-container) > picture > img,
.column___2P4F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__d2KvK {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__d2KvK > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
}
.columns__d2KvK > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__d2KvK > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__d2KvK {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__d2KvK > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 24px);
    width: calc(100% + 24px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__d2KvK > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 24px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__d2KvK > :global(.__wab_flex-container) > *,
  .columns__d2KvK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__d2KvK > :global(.__wab_flex-container) > picture > img,
  .columns__d2KvK
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 24px;
    margin-top: 24px;
  }
}
.column__l6HTx {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__l6HTx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.column__l6HTx > :global(.__wab_flex-container) > *,
.column__l6HTx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__l6HTx > :global(.__wab_flex-container) > picture > img,
.column__l6HTx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.svg__msxPt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #00d295;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.h4__x6Hz7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: left;
  min-width: 0;
}
.text__bieSp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #fffcfc;
  text-align: left;
  min-width: 0;
}
.column__h8TiL {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__h8TiL > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.column__h8TiL > :global(.__wab_flex-container) > *,
.column__h8TiL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__h8TiL > :global(.__wab_flex-container) > picture > img,
.column__h8TiL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.svg__gZttQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #00d295;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.h4__ujvMr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: left;
  min-width: 0;
}
.text__nr4B {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #fffcfc;
  text-align: left;
  min-width: 0;
}
.columns__y8270 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__y8270 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
}
.columns__y8270 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__y8270 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y8270 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y8270 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y8270 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y8270 > :global(.__wab_flex-container) > *,
  .columns__y8270 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__y8270 > :global(.__wab_flex-container) > picture > img,
  .columns__y8270
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 24px;
  }
}
.column__wAa2A {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__wAa2A > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.column__wAa2A > :global(.__wab_flex-container) > *,
.column__wAa2A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__wAa2A > :global(.__wab_flex-container) > picture > img,
.column__wAa2A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.svg__nnvUk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #00d295;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.h4__wyMTg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: left;
  padding-bottom: 0px;
  min-width: 0;
}
.text___6FmWz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #fffcfc;
  text-align: left;
  min-width: 0;
}
.column__jEygR {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__jEygR > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.column__jEygR > :global(.__wab_flex-container) > *,
.column__jEygR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__jEygR > :global(.__wab_flex-container) > picture > img,
.column__jEygR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.svg__gpX3U {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #00d295;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.h4__tfFFi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  text-align: left;
  min-width: 0;
}
.text__pnTs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #fffcfc;
  text-align: left;
  min-width: 0;
}
.feature2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #022b39;
  min-width: 0;
  padding: 120px 0px;
}
.h2__cfUIn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  margin-bottom: 64px;
  min-width: 0;
}
.freeBox__nuUyK {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 16px;
}
.freeBox__nuUyK > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__nuUyK > :global(.__wab_flex-container) > *,
.freeBox__nuUyK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nuUyK > :global(.__wab_flex-container) > picture > img,
.freeBox__nuUyK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.img__hEiv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__hEiv > picture > img {
  object-fit: cover;
}
.img__hEiv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.feature3 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #05141c;
  min-width: 0;
  padding: 72px 0px;
}
.feature3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.feature3 > :global(.__wab_flex-container) > *,
.feature3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.feature3 > :global(.__wab_flex-container) > picture > img,
.feature3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__fvt6Z {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1280px;
  min-width: 0;
  padding: 0px 16px;
}
.freeBox__fvt6Z > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__fvt6Z > :global(.__wab_flex-container) > *,
.freeBox__fvt6Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fvt6Z > :global(.__wab_flex-container) > picture > img,
.freeBox__fvt6Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.svg__qDbM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.svg__xzq0W {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  color: #ffffff;
  flex-shrink: 0;
}
.svg__n7Vhl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  color: #ffffff;
  flex-shrink: 0;
}
.svg__zvnEj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  color: #ffffff;
  flex-shrink: 0;
}
.text__eddy3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  min-width: 0;
}
